{% extends 'base.html.twig' %}

{% block title %}Auditorias{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Auditorias</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Auditorias</div>
        <div class="card-body">
            <table id="table-container">
            </table>
            <a class="btn btn-primary" href="{{ path('audits_create') }}" role="button">Crear auditoria</a>
        </div>
        <div class="card-footer small text-muted">&nbsp;</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/audits/index.js') }}"></script>
{% endblock %}